* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.title {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    background-color: #78008d;
    color: #fff;
    padding: 10px 0;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    max-height: 40px;
    margin-left: 20px;
}

nav ul {
    list-style: none;
    margin: 0; 
    padding: 0; 
    display: flex; 
    margin-right: 20px;
}

nav li {
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

header nav a:hover {
    color: #e29dee;
}

main {
    padding: 20px;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main2 {
    padding: 20px;
    height: 85vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}


main3 {
    padding: 20px;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-top: 0;
}

main4 {
    padding: 20px;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 60px;
    padding-top: 0;
}

.block {
    text-align: left;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.block > a {
    text-decoration: none;
    color: #000000;
}

.paragrs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.block2 {
    display: flex;

    text-align: left;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.block img {
    max-width: 100px;
}

.reverse {
    flex-direction: row-reverse;
}

.block2 img {
    max-width: 250px;
}

.title-photo {
    display: flex;
    max-height: 240px;
    justify-content: center;
    justify-items: center;


}
.title-photo img {
    max-width: 100%;
    object-fit: contain;
    height: auto;
}

.hero {
    background-image: url('');
    background-size: cover;
    text-align: left;
    display: flex;
    padding: 100px 0;
    color: #000000;
}

.hero img {
    width: 100%;
    max-width: 400px;
    margin-right: 20px; 
}

.hero .text {
    flex: 1;
    padding: 20px;
    border-left: 4px solid #ccc;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 5px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #78008d;
    color: #fff;
    text-align: center;
    padding: 5px;
    height: 5vh;
    margin-top: auto;
}

.margin {
    margin: 20px;
}

